.pg {
    display: flex;
    padding-bottom: 33px;
   
}
.pg img {
    width: 468px;
    margin: auto;
    padding-left: 100px;
}
.center {
    display: block;
}
.pic {
    display: flex;
    width: 60%;
    margin-right: auto;
}
.pic img {
    width: 400px;
    height:300px;
}
.name {
    display: flex;
    width: 100%;
    font-size: 50px;
    text-align: start;
    margin-block-start: 50px;
    font-style: italic;
}

h2 {
   
    font-size: 49px;
    margin-right: 350px;
     text-align: start ;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 20px;
}

.para {
    width: 50%;
    padding: 40px;
    padding-top: 0px;
}
p {
    margin-top: 20;
    padding-right: 10;
}
h4 {
    font-size: 49px;
}
#p2 {
    margin-top: -3%;
    font-size: 40px;
    text-align: center;
}
table {
    width: 100em;
}
th, th {
    padding: 10px;
}
th {
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
h5 {
    font-size: 52px;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.flex-container > div {
    width: 450px;
    font-size: 30px;
    text-align: center;
    margin: 4px;
    margin-block-start: -46px;
}
.six {
    width: 446px;
    margin-left: -346px;
}
li {
    font-size: 20px;
    width: 460px;
    text-align: -webkit-match-parent;
    display: list-item;
}
.ziko {
    width: 446px;
    margin-left: -346px;
}
.slave {
    width: 446px;
    margin-left: -346px;
}