.pg {
    display: flex;
    padding-bottom: 33px;
}
.pg img {
    width: 375px;

}
.pic {
    display: flex;
    width: 60%;
    margin-right: auto;
}
.pic img {
    width: 400px;
    height:300px;
}
.name {
    width: 50%;
    font-size: 50px;
    text-align: start;
    margin-block-start: 50px;
    font-style: italic;
}

h2 {
   
    font-size: 49px;
    margin-right: 350px;
     text-align: start ;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 20px;
}

.para {
    width: 50%;
    padding: 40px;
    padding-top: 0px;
    float: right;
}
p {
    margin-top: 20;
    padding-right: 10;
}
h4 {
    font-size: 49px;
}
#p2 {
    margin-top: -3%;
    font-size: 30px;
}
table {
    width: 510px;
}
th, th {
    padding: 10px;
}
th {
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
h5 {
    font-size: 49px;
}
h6 {
    font-size: 30px;
}
